{
  "comments": false,
  // "presets": ["latest", "stage-2"],
  "presets": [
    "stage-2",
    ["latest", { "es2015": { "modules": false } }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-flow-strip-types"
  ],
  "env": {
    "testing": {
      "plugins": ["istanbul"]
    }
  }
}
